<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="微信上岛"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <meta-data android:name="com.xiaomi.xms.APP_ID" android:value="YOUR_APP_ID_HERE" />
        <meta-data android:name="com.xiaomi.xms.BUILD_TYPE_DEBUG" android:value="true" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".WeChatIslandBridge"
            android:label="微信上岛桥接"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>
